# QF627 Pre-Course Workshop | Introduction to Programming

## Lesson 01 | An Informative `Introduction` to Python and Jupyter Notebook | `RE`view

In [1]:
%whos

Interactive namespace is empty.

> Thank you for opening up this script file.

> It would be best if you consider the codes you type here as a new language to communicate with your machine. As long as you provide a complete message in this language, your machine will deliver a reply.

### *Why would you use Python?*

* Automate and document routine work (Efficiency)
* Analyze data in a replicable, documented way (Reproducibility of Your Analysis of Data)
* Integrates with other language
* Open source
* It's easy to learn and use!

Open Terminal on a Mac or CMDR or other bash shell on Windows.

- Type: python3 (you'll get a python command line, >>>)

- Type: 2+3

- Type: import this

- Type: CTRL+d

OK, you could do stuff in there all day.

Or you could put code in a text file with the .py extension and run it from the command line (python_filename.py).

But we're going to use **Jupyter Notebook.**

### *Why use Jupyter Notebook?*

* Test your code line by line
* Rewrite it immediately when you err (and you will err)
* You can document/explain more extensively using markdown (what you're reading here)
* Reuse, reuse, reuse

Let's learn some useful hotkeys for working efficiently on Jupyter Notebook.

#### `Hotkeys` to Remember

- `a`: create a cell `a`bove the current cell
- `b`: create a cell `b`elow the current cell
- `m`: convert the current cell into `m`arkdown cell
- `y`: convert the current cell into `code` cell

$$
    \hat{y} = \hat{\beta}_0 + \sum \limits _{j=1} ^{p} X_{j}\hat{\beta}_{j}
$$

> Team, if you wish to `delete` a cell, use `d`ouble `d`: `dd`

### Assignment

In [2]:
our_first_object = 6 + 2 + 7 # shift + enter (run the cell and move your cursor to the next cell)
# in Python, "refers to"
# in C++,    "contains"
# in R, (<-) "gets"

In [3]:
our_first_object

15

In [4]:
%whos # Show RAM space

No variables match your requested type.

In [5]:
%ls # Show Hard disk that has your current interactive Python NoteBook file

QF627_PreCourse_01_Introduction_InProgress.ipynb
QF627_PreCourse_02_NumPy_Preview.ipynb
ndim.png

In [6]:
%who

our_first_object

### Commands (Functions)

In [7]:
print(our_first_object)

15

In [8]:
# print(our_second_object)

In [9]:
%whos

Variable           Type    Data/Info
------------------------------------
our_first_object   int     15

In [10]:
our_second_object = "15"

In [11]:
print(our_second_object)

15

In [12]:
%whos

Variable            Type    Data/Info
-------------------------------------
our_first_object    int     15
our_second_object   str     15

In [13]:
object = "QF 627"

In [14]:
our_first_object == 15
            # logical test

True

In [15]:
our_first_object == our_second_object

False

In [16]:
15 == "15"

False

### Note that to err is expected.

> Bummer! That didn't work.

> But this is the first of many errors you (and especially) will make in Python. In part, because we are typing (check the number of times i type pring instead of print). Also, because it's complicated.

#### ***So a few quick error tips:***

1. Proofread your code like a copy editor. Errors often result from misspellings, misplaced punctuation, etc.
2. Google the error message + Python
3. Use [stackoverflow.com](https://stackoverflow.com/) to search the error message or ask questions.
4. So let's try using some quotes and parentheses around that word instead.

In [17]:
# print our_second_object

In [18]:
print(our_second_object)

15

### Comments (Annotations to Your Commands)

Basically, anything that is written without a hashtag in the beginning is a command (code). 

Anything with a hashtag is a comment. Anything that is followed by a hashtag is not recognized in Python. 

The comment is for communication between me and you. The code is for communication between you and your machine.

In [19]:
%who

object	 our_first_object	 our_second_object

In [20]:
print(object) # the function print() returns object

QF 627

> Since we are trying to interact with our machine, one important thing is to think and write your commands in line with the way your machine understand. 

> Your machine won't know what you wish to execute, without knowing `data types`.

In [21]:
print("object")

object

In [22]:
2 + 2 # + addition <== int + int

4

In [23]:
"2" + "2" # + concatenation <== str + str

'22'

In [24]:
%whos

Variable            Type    Data/Info
-------------------------------------
object              str     QF 627
our_first_object    int     15
our_second_object   str     15

### Data Types

Data types are important in Python. 

- **Strings** generally text or things you won't do math on (like zip codes)--get quote marks around them. 

- **Numerals** don't get quotes, and come in two types: namely, `floats` (floating-point, decimal) and `integers`. 

- Then there's **Boolean,** a `True`/`False` type.

But rarely will we simply type in some numbers to add, subtract, multiply and/or divide. 

Calculators work for that.

Programming in Python (or any language, really) works by creating building blocks to achieve our goals.

### Variables

The first of these blocks is a variable. 

And it's pretty straightforward: variable_name = "some type of info".

In [25]:
float_15 = 15.0
# from now on, float_15 refers to 15.0 
# surface value 15.0
# latent data type float

type(float_15) # type() returns data type

float

In [26]:
type(2 +3 == 3 + 4)

bool

In [27]:
2 + 3 == 3 + 4

False

### Variable Names 

- Names can be upper or lower case letters, digits, and underscores.
- Variables `CANNOT` ***start with a digit.***
- Some variable names are reserved in Python (e.g., class or type) and should beavoided (We will get back to this).

In [28]:
# 1python = 627

Note that it doesn't really matter whether you use single or double quotes. 

If you have questions about this or other Python style, consult [here](https://www.python.org/dev/peps/pep-0008/) 

It's the Style Guide for Python.

Here's how you would create variables for integers, floats and Booleans.

In [29]:
string_to_fix = 'I\'ll use Python for extracting, wrangling, managing, and analyzing financial data.'
# Here, \ (backward slash) resolves the ambiguation problem.

In [30]:
string_to_fix

"I'll use Python for extracting, wrangling, managing, and analyzing financial data."

In [31]:
string_to_fix + " " + string_to_fix
# + in-between two string objects denotes concatenation

"I'll use Python for extracting, wrangling, managing, and analyzing financial data. I'll use Python for extracting, wrangling, managing, and analyzing financial data."

In [32]:
integer = 627

In [33]:
float = 627.0

In [34]:
bool = True

In [35]:
~True

-2

In [36]:
~False

-1

In [37]:
~0

-1

In [38]:
~1

-2

In [39]:
sample_string = "Python "

In [40]:
%whos

Variable            Type     Data/Info
--------------------------------------
bool                bool     True
float               float    627.0
float_15            float    15.0
integer             int      627
object              str      QF 627
our_first_object    int      15
our_second_object   str      15
sample_string       str      Python
string_to_fix       str      I'll use Python for extra<...>analyzing financial data.

In [41]:
sample_string * 7

'Python Python Python Python Python Python Python '

In [42]:
type(float)

float

In [43]:
type(627.0)

float

In [44]:
type(bool)

bool

In [45]:
type(2 + 2 == 2 * 2)

bool

In [46]:
"Q" == "q"

False

In [47]:
q = 627
Q = 627

In [48]:
q == Q

True

> Let's assess stock trends with fictious variables.

In [53]:
%whos

Variable            Type     Data/Info
--------------------------------------
Q                   int      627
bool                bool     True
float               float    627.0
float_15            float    15.0
integer             int      627
object              str      QF 627
our_first_object    int      15
our_second_object   str      15
q                   int      627
sample_string       str      Python
string              str      We're going to learng Python in QF 627!
string_to_fix       str      I'll use Python for extra<...>analyzing financial data.
v1                  str      first string
v2                  str      second string

In [54]:
price = 230
earnings = 480

> shift + ctrl + `-`: split the given cell

In [55]:
pe_ratio = price / earnings

> What data type is a variable? 
> Let's get the type of an object.
> To identify the type, we can use the function `type()`

In [56]:
type(pe_ratio)

float

> What if you wish to change variable types?

> What if you want to print "Price to earning ratio is 50.0"?

> Note that you `cannot directly combine floats with strings`.

> If you wish to print combination of floats and strings, you should `convert the floats to strings` first.

In [57]:
# print("Price to earnings ratio is " + pe_ratio) # returns an error

TypeError: can only concatenate str (not "float") to str

> shift + `l`: Display `l`ine number

In [58]:
pe_ratio_string = str(pe_ratio)

type(pe_ratio_string)

str

In [59]:
print("Price to earnings ratio is " + pe_ratio_string + ".")

Price to earnings ratio is 0.4791666666666667.

In [61]:
print("Price to earnings ratio is " + str(pe_ratio) + ".")

Price to earnings ratio is 0.4791666666666667.

> How would you be able to switch the following two variables?

In [62]:
v1 = "first string" # v2
v2 = "second string" # v1

In [63]:
%whos

Variable            Type     Data/Info
--------------------------------------
Q                   int      627
bool                bool     True
earnings            int      480
float               float    627.0
float_15            float    15.0
integer             int      627
object              str      QF 627
our_first_object    int      15
our_second_object   str      15
pe_ratio            float    0.4791666666666667
pe_ratio_string     str      0.4791666666666667
price               int      230
q                   int      627
sample_string       str      Python
string              str      We're going to learng Python in QF 627!
string_to_fix       str      I'll use Python for extra<...>analyzing financial data.
v1                  str      first string
v2                  str      second string

In [64]:
interim = v1

v1 = v2

v2 = interim

In [65]:
print(v1);print(v2)

second string
first string

### Strings

>Let's create a string and assign it to a variable.

In [66]:
string = "We're going to learng Python in QF 627!"

In [67]:
string

"We're going to learng Python in QF 627!"

In [68]:
sample = "Quant"

In [70]:
len(sample) # returns the number of elements

5

In [71]:
sample[0] == "Q"

True

In [72]:
sample[5-1]

't'

In [73]:
sample[-1]

't'

> Make a comment to yourself and then get the length of your string.

In [74]:
# This is a comment in my code.
string_to_modify = "We're going to learnG Python!"

In [76]:
string_to_modify[1:5] == "e're"
# : through
# included:excluded

True

In [77]:
string_to_modify[-7:-1] == "Python"

True

In [78]:
string_to_modify[-7: ] == "Python!"

True

>Recall that a string is just a series of characters, not a word or a sentence.

>So you can "slice" off pieces of a string based on the index of the characters in it.

>Try to slice off the last 5 characters in `my_string`

In [80]:
"python"[2:-2] == "th"

True

### Learn how to LEARN

In [81]:
dir("PYTHON") # returns attributes avaialbe within an object

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

>Convert it to lowercase.

In [82]:
"PYTHON".lower()

'python'

In [83]:
help("PYTHON".lower)

Help on built-in function lower:

lower() method of builtins.str instance
    Return a copy of the string converted to lowercase.

In [84]:
dir("PYTHON")

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [85]:
help("PYTHON".upper)

Help on built-in function upper:

upper() method of builtins.str instance
    Return a copy of the string converted to uppercase.

>Convert it to uppercase.

In [86]:
"python".upper()

'PYTHON'

In [87]:
help("a".replace)

Help on built-in function replace:

replace(old, new, count=-1, /) method of builtins.str instance
    Return a copy with all occurrences of substring old replaced by new.

      count
        Maximum number of occurrences to replace.
        -1 (the default value) means replace all occurrences.

    If the optional argument count is given, only the first count occurrences are
    replaced.

In [88]:
"python" \
    .replace("p", "P")

'Python'

#### Capitalize the first letter

In [98]:
"alice in wonderland".capitalize()

'Alice in wonderland'

> Concatenate strings. We've sort of done this above.

In [89]:
%whos

Variable            Type     Data/Info
--------------------------------------
Q                   int      627
bool                bool     True
earnings            int      480
float               float    627.0
float_15            float    15.0
integer             int      627
interim             str      first string
object              str      QF 627
our_first_object    int      15
our_second_object   str      15
pe_ratio            float    0.4791666666666667
pe_ratio_string     str      0.4791666666666667
price               int      230
q                   int      627
sample              str      Quant
sample_string       str      Python
string              str      We're going to learng Python in QF 627!
string_to_fix       str      I'll use Python for extra<...>analyzing financial data.
string_to_modify    str      We're going to learnG Python!
v1                  str      second string
v2                  str      first string

In [90]:
string + string

"We're going to learng Python in QF 627!We're going to learng Python in QF 627!"

In [92]:
string * 2

"We're going to learng Python in QF 627!We're going to learng Python in QF 627!"

In [93]:
string + " " + string

"We're going to learng Python in QF 627! We're going to learng Python in QF 627!"

In [94]:
nothing_is_impossible = string * 2

In [95]:
nothing_is_impossible

"We're going to learng Python in QF 627!We're going to learng Python in QF 627!"

In [96]:
nothing_is_impossible \
    .replace("!", "! ", 1)

"We're going to learng Python in QF 627! We're going to learng Python in QF 627!"

>Split strings.

In [100]:
string_to_modify

"We're going to learnG Python!"

In [101]:
string_to_modify\
    .split("G")

["We're going to learn", ' Python!']

>Join a list of strings

In [102]:
"G"\
    .join(["We're going to learn", ' Python!']
         )

"We're going to learnG Python!"

>Let's remove a character--note that it's space sensitive.

In [103]:
string_to_modify.replace(" ", "")

"We'regoingtolearnGPython!"

In [104]:
string_to_modify.replace(" ", "_")

"We're_going_to_learnG_Python!"

>Strip whitespace.

In [105]:
whitespace = "       Hi, Team :)           "

In [106]:
%whos

Variable                Type     Data/Info
------------------------------------------
Q                       int      627
bool                    bool     True
earnings                int      480
float                   float    627.0
float_15                float    15.0
integer                 int      627
interim                 str      first string
nothing_is_impossible   str      We're going to learng Pyt<...> learng Python in QF 627!
object                  str      QF 627
our_first_object        int      15
our_second_object       str      15
pe_ratio                float    0.4791666666666667
pe_ratio_string         str      0.4791666666666667
price                   int      230
q                       int      627
sample                  str      Quant
sample_string           str      Python
string                  str      We're going to learng Python in QF 627!
string_to_fix           str      I'll use Python for extra<...>analyzing financial data.
string_to_modify        str      We're going to learnG Python!
v1                      str      second string
v2                      str      first string
whitespace              str             Hi, Team :)

In [107]:
dir(whitespace)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

>Removes only leading whitespace characters.

In [108]:
whitespace.lstrip()

'Hi, Team :)           '

>Removes only trailing whitespace chars.

In [109]:
whitespace.rstrip()

'       Hi, Team :)'

In [110]:
whitespace.strip()

'Hi, Team :)'

### Here, you will `learn` how to `learn` (no pun intended)

>When you need `help remembering what methods` your variable has available.

In [114]:
dir(627)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'as_integer_ratio',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [ ]:
# dir()

In [111]:
whitespace.strip? # ?

Signature: whitespace.strip(chars=None, /)
Docstring:
Return a copy of the string with leading and trailing whitespace removed.

If chars is given and not None, remove characters in chars instead.
Type:      builtin_function_or_method

In [ ]:
# help()

In [116]:
whitespace.strip??

Signature: whitespace.strip(chars=None, /)
Docstring:
Return a copy of the string with leading and trailing whitespace removed.

If chars is given and not None, remove characters in chars instead.
Type:      builtin_function_or_method

>When you need `help on a specific method`.

In [117]:
help(string_to_modify.capitalize)

Help on built-in function capitalize:

capitalize() method of builtins.str instance
    Return a capitalized version of the string.

    More specifically, make the first character have upper case and the rest lower
    case.

###  `Debugging` Tips

- Don't panic
- read from the bottom
- learn the rules (= google the error) 
- use `print` statements in places where variables are created or changed

Remember the following line of the code?

In [52]:
# string_to_fix = 'I'll use it for extracting, wrangling, managing, and analyzing my financial data.'

SyntaxError: invalid syntax (1705458534.py, line 1)

### `Identifying ErrorName` will be a good starting point :)

| ErrorNamte | Example | Description (non-exhaustive) |
| --- | --- | --- |
| SyntaxError | 1) stocks = ["AAPL", "MSFT", "GOOGL" | Forgetting to close quotes and parentheses | 
| ValueError | int("AAPL") | Assiging an inappropriate value |
| NameError | stocks = ["AAPL", "MSFT", "GOOGL"];print(stokcs) | A particular variable name is not found |

|A  |B  |
|---|---|
|cat|dog|

|Python|C++   |Java|
|------|------|----|
|Good  |Better|Best|

### Integers

>Let's create an integer.

In [119]:
my_integer = 25

>Print your integer.

In [120]:
print(my_integer)

25

>Let's get the type of your integer.

In [121]:
type(my_integer)

int

>Do some addition.

In [122]:
my_sum = my_integer + 10
print(my_sum)

35

>Do some subtraction.

In [123]:
my_difference = my_integer - 10
print(my_difference)

15

>Do some multiplication.

In [124]:
my_product = my_integer * 10
print(my_product)

250

>Do some division.

In [125]:
my_quotient = my_integer / 10
print(my_quotient)

2.5

### Floats

>Let's create a float, assign it a value and print it.

In [126]:
my_float = 25.345
print(my_float)

25.345

> Let's divide a float in half.

In [127]:
23.46/2

11.73

>Please divide an integer in half.

In [128]:
5/2

2.5

## Data Structures

### Lists

> You might want to create `a variable that includes several items`, like a list of numbers. 

> For that, Python uses `lists`: surrounded by square brackets and separated by commas. 

> You might think of it as a single row in Excel.

> Each item in a Python list takes an ordered position called an index.

> You can use the integer representing the index position inside the square brackets for `indexing`.

>Now let's create a list.

In [129]:
a_list = [1, 2, 3]
print(a_list)

[1, 2, 3]

In [131]:
type(a_list
    )

list

In [130]:
dir(a_list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [132]:
len(a_list)

3

> Let's move one step further.

In [133]:
list_of_stock =\
    ["TSLA", # [0]
     "AAPL", # [1]
     "MSFT", # [2]
     "NFLX", # [3]
     "NVDA"] # [4] [-1]

In [136]:
len(list_of_stock)

5

> Notice what appears when we ask for list item No. 1 to be printed--it gets the second item. 

> It's important to note and remember that Python counts things starting a zero. 

> Yes, Python is `zero-indexed`.

> Thus, the first element in a list has an index of 0, and the second element has an index of 1, and so on.

> You may also add or delete items from a list. 

> And determine the length of the list.

In [137]:
list_of_stock[0] == "TSLA"

True

In [138]:
list_of_stock[2] == list_of_stock[-3]

True

Note that when we appended something, we used `parentheses`, NOT square brackets.

>When creating a list, you can use `strings`, `integers`, `variables`, and so on.

In [139]:
list_sample =\
    ["We",
     "love",
     "science",
     True,
     True,
     10,  # int.
     1000,
     1e6] # float (expontent returns float)

In [140]:
list_sample

['We', 'love', 'science', True, True, 10, 1000, 1000000.0]

>Let's print the list.

In [141]:
print(list_sample)

['We', 'love', 'science', True, True, 10, 1000, 1000000.0]

In [142]:
%whos

Variable                Type     Data/Info
------------------------------------------
Q                       int      627
a_list                  list     n=3
bool                    bool     True
earnings                int      480
float                   float    627.0
float_15                float    15.0
integer                 int      627
interim                 str      first string
list_of_stock           list     n=5
list_sample             list     n=8
my_difference           int      15
my_float                float    25.345
my_integer              int      25
my_product              int      250
my_quotient             float    2.5
my_sum                  int      35
nothing_is_impossible   str      We're going to learng Pyt<...> learng Python in QF 627!
object                  str      QF 627
our_first_object        int      15
our_second_object       str      15
pe_ratio                float    0.4791666666666667
pe_ratio_string         str      0.4791666666666667
price                   int      230
q                       int      627
sample                  str      Quant
sample_string           str      Python
string                  str      We're going to learng Python in QF 627!
string_to_fix           str      I'll use Python for extra<...>analyzing financial data.
string_to_modify        str      We're going to learnG Python!
v1                      str      second string
v2                      str      first string
whitespace              str             Hi, Team :)

>Create a list of strings.

In [143]:
months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October"]

>When you wish to print the first item in the list.

In [144]:
months[0]

'January'

>What if you wish to print the last item in the list (`negative indexing of lists`)?

In [145]:
months[-1]

'October'

>You may print all items from 4 through the end. We call this `slicing`.

>`Slicling` includes the start and up to (but NOT includuing) the end as follows:

>`mylist[StartAt:EndBefore]`

In [147]:
print(months)

['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October']

>Print the middle 4 items.

In [148]:
months[3:7]

['April', 'May', 'June', 'July']

In [149]:
months[3:-3]

['April', 'May', 'June', 'July']

>Add an item to the list and see if it was added. See what's happening if you run this cell over and over again.

In [150]:
dir(months)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [151]:
help(months.append)

Help on built-in function append:

append(object, /) method of builtins.list instance
    Append object to the end of the list.

In [152]:
months\
    .append("October")

In [153]:
months

['January',
 'February',
 'March',
 'April',
 'May',
 'June',
 'July',
 'August',
 'September',
 'October',
 'October']

>Let's delete the last item in the list.

In [154]:
del(months[-1]
   )

In [155]:
months

['January',
 'February',
 'March',
 'April',
 'May',
 'June',
 'July',
 'August',
 'September',
 'October']

> Slicing using negative list indexing?

> Yes, you can!

In [156]:
months[  : -1]

['January',
 'February',
 'March',
 'April',
 'May',
 'June',
 'July',
 'August',
 'September']

> Let's print the items from the start to the penultimate.

> We can do extended slicing with lists.

In [157]:
example = [1, 2, 3]

In [158]:
example \
    .pop(index = -1) # returns

3

In [159]:
example

[1, 2]

In [160]:
help(example.pop)

Help on built-in function pop:

pop(index=-1, /) method of builtins.list instance
    Remove and return item at index (default last).

    Raises IndexError if list is empty or index is out of range.

In [161]:
example.pop()

2

In [162]:
example

[1]

>Let's set the last value in the list to a variable.

In [163]:
months

['January',
 'February',
 'March',
 'April',
 'May',
 'June',
 'July',
 'August',
 'September',
 'October']

In [164]:
months.pop() == "October"

True

In [165]:
months

['January',
 'February',
 'March',
 'April',
 'May',
 'June',
 'July',
 'August',
 'September']

> Slicing with `Steps` also can be done.

> Sometimes you might want to subset every other month in our list months. 

> Here's the code that will help you skip some elements when slicing a list.

> `mylist[StartAt:EndBefore:Step]`

In [167]:
print(months)

['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September']

In [168]:
months[0:-1:2] == ["January", "March", "May", "July"]

True

#### Lists in Lists

- As you have learned above, lists can accomodate (contain) various data types

- Lists can contain list themselves as well. We call this a `nested list`.

> Let's have a look at a nexted list describing the month and its associated consumer price index

In [ ]:
# list_in_list_CPI = [["August", "September", "October"], [99.9, 99.8, 100.2]]

In [169]:
list_in_list_CPI =\
    [
        ["August", "September", "October"],
        [99.9,     99.8,        100.2]
    ]

> Let's subset nested lists.

> You can also extract an element from the list you extracted. 

> To do this, you use `two indices`. 

> The first index is the position of the list, and the second index is the position of the element within the list.

In [170]:
list_in_list_CPI

[['August', 'September', 'October'], [99.9, 99.8, 100.2]]

In [171]:
len(list_in_list_CPI) == 2

True

In [173]:
list_in_list_CPI[1][1] == 99.8

True

In [172]:
type(list_in_list_CPI)

list

In [174]:
list_of_price = list_in_list_CPI[1]
list_of_price

[99.9, 99.8, 100.2]

In [175]:
list_in_list_CPI.pop()

[99.9, 99.8, 100.2]

In [ ]:
list_in_list_CPI # returns Nested List

In [177]:
list_in_list_CPI[0][1]

'September'

### Methods and Functions

| Methods | Functions | 
| --- | --- |
| All methods are functions | Not all functions are methods | 
| Acts on an object `months.append()` | Requires an input of an object `type(months)` |

> List methods are a subset of built-in functions in Python.

 #### Methods specific to list
 
 - Lists have several built-in methods that can help retrieve and manipulate data
 - Methods can be accessed as `list.method()`
 - `list_sort()` sorts list elements in ascending order.

In [178]:
list_of_month = list_in_list_CPI[0]
list_of_month # returns 1 dimensional data: list

['August', 'September', 'October']

> Remember `list.append()`?

> `list.append()` adds a single element to a list

In [179]:
list_of_month \
    .append("November")

list_of_month

['August', 'September', 'October', 'November']

> `list.extend()` method increases the length by the number of elements that are provided to it.

In [180]:
list_of_month \
    .append(["December", "January"]
           )

In [181]:
len(list_of_month)

5

In [182]:
list_of_month

['August', 'September', 'October', 'November', ['December', 'January']]

In [184]:
%who

Q	 a_list	 bool	 earnings	 example	 float	 float_15	 integer	 interim
list_in_list_CPI	 list_of_month	 list_of_price	 list_of_stock	 list_sample	 months	 my_difference	 my_float	 my_integer
my_product	 my_quotient	 my_sum	 nothing_is_impossible	 object	 our_first_object	 our_second_object	 pe_ratio	 pe_ratio_string
price	 q	 sample	 sample_string	 string	 string_to_fix	 string_to_modify	 v1	 v2
whitespace

In [185]:
months

['January',
 'February',
 'March',
 'April',
 'May',
 'June',
 'July',
 'August',
 'September']

In [186]:
len(months)

9

In [187]:
months \
    .extend(["October", "November"]
           )
    # .append()

len(months)

11

> `list.index(x)` returns the lowest index where the element x appears

> That is, it returns the index of a specific element.

In [189]:
print(months)

['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November']

In [190]:
months\
    .index("May")

4

In [191]:
months[4] == "May"

True

#### object.`method()`

In [193]:
print(list_of_month)

['August', 'September', 'October', 'November', ['December', 'January']]

In [194]:
list_of_month.pop()

['December', 'January']

In [195]:
list_of_month

['August', 'September', 'October', 'November']

In [196]:
list_of_month\
    .sort() # by default, .sort() returns ascending order

In [197]:
list_of_month

['August', 'November', 'October', 'September']

#### object.method(`parameter = `)

In [ ]:
list_of_month\
    .sort(reverse = True) # returns descending order

list_of_month

In [199]:
help(list_of_month.sort)

Help on built-in function sort:

sort(*, key=None, reverse=False) method of builtins.list instance
    Sort the list in ascending order and return None.

    The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
    order of two equal elements is maintained).

    If a key function is given, apply it once to each list item and sort them,
    ascending or descending, according to their function values.

    The reverse flag can be set to sort in descending order.

#### `function`(object, parameter = )

In [200]:
print(list_of_price)

[99.9, 99.8, 100.2]

In [201]:
sorted(list_of_price) # returns sort in ascending order

[99.8, 99.9, 100.2]

In [202]:
sorted(list_of_price,
       reverse = True)

[100.2, 99.9, 99.8]

> Now the corresponding price for July can be accesed using the index.

> Team, please type the following lines of codes with your own finger tips.

```python

months = ["June", "July", "August"] # len(months) returns 3
prices = [99.93, 99.5, 99.9]

> Here are some functions that will be uesful.

> `min(list)` returns the smallest element

> `max(list` returns the largest element

> Let's find the month with largest consumer price index then.

In [203]:
months = ["June", "July", "August"]
prices = [99.93, 99.5, 99.9]

> shift + `m`: `m`erge the chosen cells

In [204]:
# Identify max price
prices_MAX =\
    max(prices)

In [206]:
# Then, use Index method to identify the indexed location of the max_price
index_for_prices_MAX =\
(
    prices # I'm leaving comment here
    .index(prices_MAX)
)

In [207]:
# Using the indexed location on months, you can identify the month with the maximum consumer price index.
months_MAX =\
(
    months
    [index_for_prices_MAX]    
)

months_MAX

'June'

### ***Things to be cautious!***

#### 1. Note that some words are special or reserved in Python. 

We can't name our integer variable int or our float simply float.

The same goes with the following words: 

`and`	`as`	`assert`	

`break`  

`class` `continue`	

`def`	`del`

`elif`	`else`	`except`

`False` `finally` `for`	`from`	

`global`

`if`	`import`	`in`	`is`

`lambda`	

`None`	`nonlocal`	`not`

`or`	

`pass`	

`raise`	`return`

`True`	`try`	`while`	`with`

`yield`

#### 2. ==

Note the double equal ==. 

That's the Python equivalent for a single on your calculator. 

#### 3. !=

And != is the equivalent of not equal.

#### 4. Python is an `indententation-sensitive` langauge.

And note the `indentation`--it's `four spaces`, and it's `important for Python`. 

Some text editors (Jupyter Notebook or Sublime Text, for instance) will automatically indent properly. 

But not all tabs are four spaces. So use caution!

#### 5. Capitalization of `True` and `False`

Also note the capitalization of True and False. 

And the fact that those reserved/special words show up as green.

### Booleans

> `==` equal 

> `!=` does not equal

> `>` greater than

> `<` less than

>Create two variables, assign values and compare them.

In [208]:
x = 5
y = 15

In [209]:
x == y

False

In [210]:
x != y

True

In [211]:
x > y

False

In [212]:
x >= y

False

In [213]:
x < y

True

In [214]:
x <= y

True

> Create two variables, assign one as a number and one as a string and compare them.

In [215]:
z = 10 # type(z) int
v = "10" # type(v) str
z == v

False

### `if else` Statements

In [216]:
x = "MGMT655"
X = "QF627"
Y = "QF627"
y = "MGMT655"

In [218]:
if X == Y:
    print(True)
else:
    print(False)

True

> Please write the following. 
> `If x is greater than y, print my_list. Otherwise, print my_dict.`

### Let's create a minimalist customized `function()`

One other basic concept that typically combines many of these elements is a function. 

You might use a series of functions (building blocks) to achieve your programming goals. 

Here's an example of one

In [219]:
3 + 4

7

In [220]:
def calculate_addition(x, y):
    return x + y

In [221]:
%whos

Variable                Type        Data/Info
---------------------------------------------
Q                       int         627
X                       str         QF627
Y                       str         QF627
a_list                  list        n=3
bool                    bool        True
calculate_addition      function    <function calculate_addition at 0x112c43430>
earnings                int         480
example                 list        n=1
float                   float       627.0
float_15                float       15.0
index_for_prices_MAX    int         0
integer                 int         627
interim                 str         first string
list_in_list_CPI        list        n=1
list_of_month           list        n=4
list_of_price           list        n=3
list_of_stock           list        n=5
list_sample             list        n=8
months                  list        n=3
months_MAX              str         June
my_difference           int         15
my_float                float       25.345
my_integer              int         25
my_product              int         250
my_quotient             float       2.5
my_sum                  int         35
nothing_is_impossible   str         We're going to learng Pyt<...> learng Python in QF 627!
object                  str         QF 627
our_first_object        int         15
our_second_object       str         15
pe_ratio                float       0.4791666666666667
pe_ratio_string         str         0.4791666666666667
price                   int         230
prices                  list        n=3
prices_MAX              float       99.93
q                       int         627
sample                  str         Quant
sample_string           str         Python
string                  str         We're going to learng Python in QF 627!
string_to_fix           str         I'll use Python for extra<...>analyzing financial data.
string_to_modify        str         We're going to learnG Python!
v                       str         10
v1                      str         second string
v2                      str         first string
whitespace              str                Hi, Team :)
x                       str         MGMT655
y                       str         MGMT655
z                       int         10

In [222]:
calculate_addition(x = 6,
                   y = 7)

13

In [223]:
6 + 7 == calculate_addition(6, 7)

True

In [227]:
def calculate_multiplication(X, Y):
    return X * Y

In [228]:
calculate_multiplication(X = 2, Y = 2) == 2 * 2

True

### Loops

We've done an `if/else` conditional statement.

We can also control what we're getting from files, URLs or other code by using `for` loops.

For (again, no pun intended) instance, instead of using individual print statements (tedious, especially if you misspell pring, I mean, print, all the time), you can use a loop to call each item in the list.

Here's the thinking behind a for loop in what's called pseudocode.

This is a good way to draft out what you're trying to do with your code::

for each item in the list:
- do something
- maybe another thing
- maybe more stuff even

Let's try it with my_list.

> Let's take your list or make a new one, loop through it printing out each value.

In [229]:
sample_LIST =\
["we",
 "love",
 "machine",
 "learning"]

sample_LIST

['we', 'love', 'machine', 'learning']

In [230]:
sample_LIST \
    .extend([True, True, 627]
           )

sample_LIST

['we', 'love', 'machine', 'learning', True, True, 627]

In [231]:
for each_element in sample_LIST:
    print(each_element)

we
love
machine
learning
True
True
627

In [232]:
for each_element in sample_LIST[0:-1:2]:
    print(each_element)

we
machine
True

### Pythonian Data Type (Structure): dictionaries | dict

In [233]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [234]:
person_data_list = ["Ric", "Chan", "Singapore", "Machine Learning"]
type(person_data_list)

list

How about a loop that prints sentences of they key and the value in person_data? 

We'll add white space, use addition, and rememer when you need quote marks.

#### dict{`key`:`value`}

In [235]:
person_data_dict=\
    {"first_name": "Ric",
     "last_name": "Chan",
     "country": "Singapore",
     "favorite_subject": "Machine Learning"
    }

type(person_data_dict)

dict

> Again, it's a pretty straight forward concept.

In [236]:
for key in (person_data_dict):
    print("The key is " + key + " and the value is " + person_data_dict[key] + "!")

The key is first_name and the value is Ric!
The key is last_name and the value is Chan!
The key is country and the value is Singapore!
The key is favorite_subject and the value is Machine Learning!

### How to write `mathematical notations and formula` (A Quick Guide)

$$
    \hat{\beta} = (X^TX)^{-1}X^TY
$$

> So, this is just a taste of Python. 

> This barely skims the surface of what you can do in Python, but hopefully this overview will make you comfortable enough to get started and to give you a sense of the language, along with how `Jupyter Notebook` is used.

> Speaking of Jupyter Notebook, note that the default autosave interval in Jupyter notebook is 120 seconds. You can change this with the `%autosave` magic command for an individual notebook like this:

In [ ]:
# %autosave 120 # unit: seconds
# %autosave 0 # this will mute your autosaving of the current ipynb file

> **One more thing to share, before you go.**

> Jupyter Notebook creates a `checkpoint` file every single time you create an .ipynb file, and then it updates the checkpoint file every single time you manually save your progress for the initial .ipynb.

> A manual save is what's done when the file is saved by clicking the Save and Checkpoint button.

> As a side note, the checkpoint file is located within a hidden folder named .ipynb_checkpoints. This folder is located within the same folder as the initial .ipynb file.

### Absolute last thing, before you go.

In [238]:
import antigravity

>Now, let's indeed exit the program.

`Thank you for working with the script.`